.container {
  border-radius: 10px;
  height: 10rem;
  min-width: 7rem;
  max-width: 15rem;
  background-color: var(--secondary-brand);

  margin: 1rem;
  // padding: 0.5rem 1rem;

  color: var(--primary-background-color);
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  p {
    padding: .5rem 1rem;
  }

  div:nth-child(1) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--tertiary-brand);
    padding: 0 1rem;
    box-sizing: border-box;
  }

  &:hover {
    transform: scale(1.1);
    z-index: 10;

    .controls {
      height: 2rem;
      margin-bottom: -20px;
      opacity: 1;
    }
  }

  div:nth-child(1) {
    width: 100%;
    div {
      height: 0;
    }
    h3 {
      margin: 0.5rem 0;
    }
  }
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  height: 0;
  margin: 0;
  opacity: 0;

  button {
    background-color: var(--primary-button-color);
    border: none;
    color: var(--primary-font-color);
    font-weight: bold;
    margin-right: 1rem;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s linear;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.0);
    }
  }

  button:nth-child(1) {
    color: var(--primary-background-color);
    background-color: var(--danger);
  }
}

.divider {
  // border-bottom: 1px  var(--primary-background-color);
  width: 100%;
}