body {
  background-color: var(--primary-background-color);
  height: 100vh;
  /* max-width: 100vw; */
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* --primary-brand: #222026;
  --secondary-brand: #53778F;
  --primary-background-color: #171A1B; 
  --primary-font-color: #727E83;

  --light-background: #78B0B3;

  --primary-button-color: #222026; */
  
  --primary-brand: #222026;
  --secondary-brand: #005F73;

  --tertiary-brand: #0A9396;

  --sub-brand: #0a9396;
  

  --primary-background-color: #171A1B; 
  --primary-font-color: #727E83;

  --light-background: #E9D8A6;

  --primary-button-color: #222026;

  --danger: #AE2012;
}